{% extends "header.html" %}
{% block title %}Product Page{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/main_style.css">{% endblock %}
{% block content %}

<div class="container">

    <h1>Welcome</h1>
    <h2>Check out our amazing products</h2>
    {% if messages %}
    <div class="notification">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <!-- Big products section -->
    <h2 class="section-title">Big Products</h2>
    <div class="big-products-container">
        {% for product in big_products %}
            <div class="big-product">
                {% if product.photo %}
                <img src="data:image/jpeg;base64,{{ product.photo }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                <p>No image available</p>
                {% endif %}
                <div class="big-product-text">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.desc }}</p>
                    <p>Price: ${{ product.curr_price }}</p>
                    <a href="/product/{{ product.id }}" class="product-button">View Product</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Small products section -->
    <h2 class="section-title">Small Products</h2>
    <div class="small-products-container">
        {% for product in small_products %}
            <div class="small-product">
                {% if product.photo %}
                <img src="data:image/jpeg;base64,{{ product.photo }}" alt="{{ product.name }}" class="product-image">
                {% else %}
                <p>No image available</p>
                {% endif %}
                <h4>{{ product.name }}</h4>
                <p>{{ product.desc }}</p>
                <p>Price: ${{ product.curr_price }}</p>
                <a href="/product/{{ product.id }}" class="product-button">View Product</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
